* {
	margin: 0;
}

div.header_wrap {
	background-color: #3399FF;	/* color: light blue */
	height: 50px;
}

div.header_content {
	color: white;
	font-size: xx-large;
	margin-left: 5%;
	padding-top: 5px;
}
